<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Da Burger!</title>
		{{!-- jQuery --}}
        <script src="https://code.jquery.com/jquery-3.5.0.slim.js"></script>
        {{!-- bulma cdn --}}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
        {{!-- fontawesome cdn --}}
        <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {{!-- script tag to burger.js --}}
        <script src="../../models/burger.js"></script>
        {{!-- custom CSS --}}
        <link rel="stylesheet" href="/assets/CSS/style.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>