
<div class="container">
    <section class="hero is-warning is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="is-flex is-horizontal-center">

            <figure class="image is-128x128">
                <img src="/assets/img/burger.png" alt="Image Not Available">
            </figure>

            </div>

            <h1 class="title is-1">
                Eat Da Burger!
            </h1>
            
            <div class="field has-addons has-addons-centered">
            <div class="control">
                <input class="input" type="text" placeholder="Enter a hamburger">
            </div>
            <div class="control">
            <a class="button is-danger">
                Submit
            </a>
            </div>
</div>
            
        </div>
    </div>
    </section>
</div>